<div class="bg-white/50 backdrop-blur-lg flex rounded-lg">
  <div class="flex">
    <img src="https://openweathermap.org/img/wn/{{ forecast.weather[0].icon }}@2x.png">
  </div>
  <div class="flex flex-col justify-start px-2">
    <span class="font-medium mt-1 w-full text-center">{{ forecast.dt_txt | weekday | uppercase }}</span>
    <p class="font-bold"><span class="font-thin text-xs me-1">MAX</span>{{ forecast.main.temp_max }}°</p>
    <p class="mb-1 font-bold"><span class="font-thin text-xs me-1">MIN</span>{{ forecast.main.temp_min }}°</p>
  </div>
</div>
